@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
@import url("https://i.scdn.co/image/ab6761610000f178d5fbdbb302e8f9e3a5e433c5");
@import url('https://static.wixstatic.com/media/f1cf04_7477d4e60126461bb1ee6cb1aa43c390~mv2.jpg/v1/crop/x_3,y_0,w_900,h_1000/fill/w_576,h_640,al_c,q_85,usm_0.66_1.00_0.01/GraphicDesignCat_edited_edited.webp');
@import url('https://f4.bcbits.com/img/a1157343705_16.jpg');
@import url("https://i1.sndcdn.com/avatars-goP9FqysJmSFcx6B-eD2KBA-t500x500.jpg");
@import url("https://i1.sndcdn.com/artworks-QHH5Iyln1lqsYm0G-hSEzrw-t500x500.jpg");

.descrp{
    align-self: center;
    position: relative;
    top: 30%;
}
.outer1{
    background-image: url("https://i.scdn.co/image/ab6761610000f178d5fbdbb302e8f9e3a5e433c5");
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 480px 480px;
    opacity:1;
    background-color: whitesmoke;
}
.outer2{
    background-image: url("https://static.wixstatic.com/media/f1cf04_7477d4e60126461bb1ee6cb1aa43c390~mv2.jpg/v1/crop/x_3,y_0,w_900,h_1000/fill/w_576,h_640,al_c,q_85,usm_0.66_1.00_0.01/GraphicDesignCat_edited_edited.webp");
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 480px 480px;
    opacity:1;
    background-color: whitesmoke;
}
.outer3{
    background-image: url("https://static.wixstatic.com/media/f1cf04_7477d4e60126461bb1ee6cb1aa43c390~mv2.jpg/v1/crop/x_3,y_0,w_900,h_1000/fill/w_576,h_640,al_c,q_85,usm_0.66_1.00_0.01/GraphicDesignCat_edited_edited.webp");
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 480px 480px;
    opacity:1;
    background-color: whitesmoke;
}
.outer4{
    background-image: url("https://static.wixstatic.com/media/f1cf04_7477d4e60126461bb1ee6cb1aa43c390~mv2.jpg/v1/crop/x_3,y_0,w_900,h_1000/fill/w_576,h_640,al_c,q_85,usm_0.66_1.00_0.01/GraphicDesignCat_edited_edited.webp");
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 480px 480px;
    opacity:1;
    background-color: whitesmoke;
}
.outer5{
    background-image: url('https://f4.bcbits.com/img/a1157343705_16.jpg');
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 480px 480px;
    opacity:1;
    background-color: whitesmoke;
}
.outer6{
    background-image: url('https://i1.sndcdn.com/avatars-goP9FqysJmSFcx6B-eD2KBA-t500x500.jpg');
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 480px 480px;
    opacity:1;
    background-color: whitesmoke;
}
.outer7{
    background-image: url("https://i1.sndcdn.com/artworks-QHH5Iyln1lqsYm0G-hSEzrw-t500x500.jpg");
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 480px 480px;
    opacity:1;
    background-color: whitesmoke;
}
.outer1:hover,.outer2:hover,.outer3:hover,.outer4:hover,.outer5:hover,.outer6:hover,.outer7:hover{
    opacity:0.5;
}
.inner{
    width:100%;
    height:100%;
    opacity: 0;
}
.inner:hover{
    opacity: 1;
}
.songsclass{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.viditem{
    align-self: center;
    padding-bottom: 10px;
}
a{
    color: inherit;
    text-decoration: inherit;
    align-self: center;
}
div{
    display:block;
}
body {
    height: 100%;
    font-family: 'Recursive', sans-serif;
    background-color: #3B364E;
    color: #FFB8D1;
    text-align: center;
}