html{
    background-color: black;
}

.stage{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}

.red{
    position: absolute;
    color: #ff0000;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
}

.green{
    position: absolute;
    color: #00ff00;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 1;
}

.blue{
    position: absolute;
    color: #0000ff;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    opacity: 1;
}